src/flows/Create_Subscription_from_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Provision_Subscription_Multiyear</name>
        <label>Provision Subscription - Multiyear</label>
        <locationX>2514</locationX>
        <locationY>1538</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>Get_Multiyear_Subscription_if_Exists.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provision_Subscription_New</name>
        <label>Provision Subscription New</label>
        <locationX>1590</locationX>
        <locationY>3026</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>newSubscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provision_Subscription_Renewal</name>
        <label>Provision Subscription - Renewal</label>
        <locationX>138</locationX>
        <locationY>2378</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>Get_Previous_Subscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Create_Account_Grant</name>
        <label>Create Account Grant</label>
        <locationX>1590</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newZephrAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Subscription_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscriptionItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Grant_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_Grant_0</name>
        <label>Create Account Grant</label>
        <locationX>138</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Subscription.Zephr_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Subscription_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscriptionItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Grant_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_Grant_Multiyear</name>
        <label>Create Account Grant - Multiyear</label>
        <locationX>2514</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Multiyear_Subscription_if_Exists.Zephr_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Subscription_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscriptionItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccountGrant.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Grant_Multiyear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Renewal_Subscription_Product</name>
        <label>Create Renewal Subscription Product</label>
        <locationX>270</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Subscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Subscription_Product_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Subscription_0</name>
        <label>Create Subscription</label>
        <locationX>1788</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNumberOfSeats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscription.Subscription_Management_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubscriptionManagementSystem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Subscription_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Subscription_Product</name>
        <label>Create Subscription Product</label>
        <locationX>1788</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Subscription_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Subscription_Product_Multiyear</name>
        <label>Create Subscription Product Multiyear</label>
        <locationX>2646</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Multiyear_Subscription_if_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Multiyear_Subscription_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Zephr_Account_0</name>
        <label>Create Zephr Account</label>
        <locationX>1590</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>newZephrAccount.Zephr_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zephrCompanyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscription.Number_of_Seats__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zephrAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zephrAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Zephr_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Id</name>
        <label>Set Company Id</label>
        <locationX>1458</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>zephrCompanyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Company_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Zephr_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Id_0</name>
        <label>Set Company Id</label>
        <locationX>1722</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>zephrCompanyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zephr_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Zephr_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Processed</name>
        <label>Set Processed</label>
        <locationX>1771</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>Loop_Products.Subscription_Product_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_for_Update_0</name>
        <label>Set Subscription for Update</label>
        <locationX>1590</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>subscriptionToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionToUpdate.Zephr_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newZephrAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Parameters</name>
        <label>Set Subscription Parameters</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNumberOfSeats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Previous_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Parameters_0</name>
        <label>Set Subscription Parameters</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Previous_Subscription.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Previous_Subscription_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tenant</name>
        <label>Set Tenant</label>
        <locationX>1771</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>productTenant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2.Zephr_Tenant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Deal_Type</name>
        <label>Check Deal Type</label>
        <locationX>2844</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Subscription_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Year</defaultConnectorLabel>
        <rules>
            <name>Multiyear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Multiyear_Subscription_if_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription_Product_Multiyear</targetReference>
            </connector>
            <label>Multiyear</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Exists</name>
        <label>Company Exists?</label>
        <locationX>1590</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>Set_Company_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zephr_Company.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Company_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_Seats_than_Subscribers</name>
        <label>Less Seats than Subscribers?</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Subscription_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LSTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Subscription.Seats_Allocated__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fNumberOfSeats</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>It&apos;s a renewal if the Order.Opportunity.Previous_Opportunity__c field is populated, and an amendment if the Order.Opportunity.Original_Opportunity__c is.</description>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>1771</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Multiyear_Subscription_if_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Type_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Previous_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Subscription_Product</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Opportunity_Type_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Opportunity.Previous_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.OpportunityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DISABLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Subscription_Product</targetReference>
            </connector>
            <label>Amendment (Disabled)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Subscription_Found</name>
        <label>Original Subscription Found?</label>
        <locationX>1491</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Subscription_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Original_Subscription_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Subscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription_Change2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Original_Subscription_Product_Found</name>
        <label>Original Subscription Product Found?</label>
        <locationX>1870</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Subscription_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Original_Subscription_Product_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Subscription_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Found</name>
        <label>Previous Subscription Found?</label>
        <locationX>468</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Subscription_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PSF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Subscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Less_Seats_than_Subscribers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Subscription_Product_Found</name>
        <label>Previous Subscription Product Found?</label>
        <locationX>699</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Subscription_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Previous_Subscription_Product_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Subscription_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Order</name>
        <label>Process Order?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validationResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Order Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Update_Zephr_Subscription</name>
        <label>Renewal Update Zephr Subscription</label>
        <locationX>270</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Update_Zephr_Subscription_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Is_Zephr_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Grant_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Zephr_Multi_Year_Subscription</name>
        <label>Update Zephr Multi Year Subscription</label>
        <locationX>2646</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Zephr_Multi_Year_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Is_Zephr_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Grant_Multiyear</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Zephr_Single_Year_Subscription</name>
        <label>Update Zephr Single Year Subscription</label>
        <locationX>1788</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Zephr_Single_Year_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Products.Is_Zephr_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zephr_Company</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fNumberOfSeats</name>
        <dataType>Number</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!Loop_Products.Product2.Number_of_Licences__c})),
    {!Loop_Products.Product2.Number_of_Licences__c} &gt; 0
  ),
  {!Loop_Products.Quantity} * {!Loop_Products.Product2.Number_of_Licences__c},
  {!Loop_Products.Quantity}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>validationResult</name>
        <dataType>String</dataType>
        <expression>&quot;OK&quot;</expression>
    </formulas>
    <formulas>
        <description>Calculates the right subscription management system based on the product being processed</description>
        <name>varSubscriptionManagementSystem</name>
        <dataType>String</dataType>
        <expression>&quot;Zephr&quot;</expression>
    </formulas>
    <formulas>
        <name>zephrAccountName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Opportunity_Details.Account.Name}, 63) + &apos; - &apos; + {!RefreshSubscriptionDetails.Name}</expression>
    </formulas>
    <interviewLabel>Create Subscription from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Subscription from Opportunity</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tenant</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Company_0</name>
        <label>Create Company</label>
        <locationX>1458</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Set_Company_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Integration_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Tenant__c</field>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </inputAssignments>
        <object>Zephr_Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_Change</name>
        <label>Create Subscription Change</label>
        <locationX>138</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Set_Subscription_Parameters_0</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Seats__c</field>
            <value>
                <elementReference>fNumberOfSeats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Loop_Products.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Get_Previous_Subscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_Change2</name>
        <label>Create Subscription Change</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
        <inputAssignments>
            <field>Delta_No_Of_Seats__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Seats__c</field>
            <value>
                <elementReference>fNumberOfSeats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Loop_Products.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Loop_Products.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>Get_Original_Subscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Account_Grant_Multiyear</name>
        <label>Insert Account Grant - Multiyear</label>
        <locationX>2514</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Provision_Subscription_Multiyear</targetReference>
        </connector>
        <inputReference>newAccountGrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Account_Grant_New</name>
        <label>Insert Account Grant New</label>
        <locationX>1590</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Provision_Subscription_New</targetReference>
        </connector>
        <inputReference>newAccountGrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Account_Grant_Renewal</name>
        <label>Insert Account Grant - Renewal</label>
        <locationX>138</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Provision_Subscription_Renewal</targetReference>
        </connector>
        <inputReference>newAccountGrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Multiyear_Subscription_Product</name>
        <label>Insert Multiyear Subscription Product</label>
        <locationX>2646</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_Zephr_Multi_Year_Subscription</targetReference>
        </connector>
        <inputReference>newSubscriptionItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Subscription_0</name>
        <label>Insert Subscription</label>
        <locationX>1788</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>RefreshSubscriptionDetails</targetReference>
        </connector>
        <inputReference>newSubscription</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Subscription_Product</name>
        <label>Insert Subscription Product</label>
        <locationX>1788</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Update_Zephr_Single_Year_Subscription</targetReference>
        </connector>
        <inputReference>newSubscriptionItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Subscription_Product_Renewal</name>
        <label>Insert Subscription Product Renewal</label>
        <locationX>270</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Renewal_Update_Zephr_Subscription</targetReference>
        </connector>
        <inputReference>newSubscriptionItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Zephr_Account</name>
        <label>Insert Zephr Account</label>
        <locationX>1590</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Set_Subscription_for_Update_0</targetReference>
        </connector>
        <inputReference>newZephrAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <description>We have an Opportunity field on the Subscription. If we have multiple Orders for a single Opportunity, then the Orders will all have the same OpportunityId.

This query is getting the Subscriptions where the Subscription Opportunity field equals the current Order.OpportunityId field - this tells us (effectively) if this is the second (or later) year Order in a multi-year Opportunity that has different Invoice Dates - this would create separate Orders for each Invoice Date.

Opportunity A =&gt;
- Order 1 =&gt; Subscription X
- Order 2
- Order 3

When processing Order 2, this query will return Subscription X, because Subscription X will be linked to Opportunity A</description>
        <name>Get_Multiyear_Subscription_if_Exists</name>
        <label>Get Multiyear Subscription if Exists</label>
        <locationX>2844</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deal_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Product2.ZephrEntitlementId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Zephr_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Product_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Subscription</name>
        <label>Get Original Subscription</label>
        <locationX>1491</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Subscription_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Subscription_Product.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Subscription_Product</name>
        <label>Get Original Subscription Product</label>
        <locationX>1870</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Original_Subscription_Product_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Entitlement_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Product2.ZephrEntitlementId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Product__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Subscription</name>
        <label>Get Previous Subscription</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Subscription_Product.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Subscription_Product</name>
        <label>Get Previous Subscription Product</label>
        <locationX>699</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Subscription_Product_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Opportunity.Previous_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Entitlement_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Products.Product2.ZephrEntitlementId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Product__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zephr_Company</name>
        <label>Get Zephr Company</label>
        <locationX>1590</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zephr_Tenant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productTenant</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zephr_Company__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Refresh the data from the database - we need the Name (autonumber)</description>
        <name>RefreshSubscriptionDetails</name>
        <label>Refresh Subscription Details</label>
        <locationX>1788</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Subscription_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubscription.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product</name>
        <label>Update Order Product</label>
        <locationX>1771</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <inputReference>Loop_Products</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Subscription</name>
        <label>Update Previous Subscription</label>
        <locationX>402</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Subscription_User_End_Date</targetReference>
        </connector>
        <inputReference>Get_Previous_Subscription</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Subscription_0</name>
        <label>Update Previous Subscription</label>
        <locationX>138</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_Subscription_User_End_Date</targetReference>
        </connector>
        <inputReference>Get_Previous_Subscription</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>1590</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Create_Account_Grant</targetReference>
        </connector>
        <inputReference>subscriptionToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If subscriber end dates match the current end date, we extend to the new end date</description>
        <name>Update_Subscription_User_End_Date</name>
        <label>Update Subscription User End Date</label>
        <locationX>270</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Create_Renewal_Subscription_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscriber_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Previous_Subscription.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_NG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Subscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscriber_End_Date__c</field>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_User__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstProcessedOrderProductIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountGrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_Account_Grant__c</objectType>
    </variables>
    <variables>
        <name>newSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>newSubscriptionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Product__c</objectType>
    </variables>
    <variables>
        <name>newSubscriptionProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Product__c</objectType>
    </variables>
    <variables>
        <name>newSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>newZephrAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_Account__c</objectType>
    </variables>
    <variables>
        <name>newZephrAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_Account__c</objectType>
    </variables>
    <variables>
        <name>processedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productTenant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>subscriptionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>zephrCompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
